<% provide(:metacontent, "Contact Us for best electricians and plumbers online service in Indore. We can also be contacted for PC and laptop repair or service related issue.")%>
<% provide(:title, "Contact for Appliance, electric, Laptop and PC repair") %><h1>Contact</h1>
<p>
	Below is our contact details. Get in touch with us through email or phone. We are glad to serve you.
</p>