<% provide(:metacontent, "Best online help available in Indore for electrical, appliance and plumbing related issues. We solve software and hardware related issues for PC and laptops.")%>
<% provide(:title, "Online help for Appliance, electric, Laptop and PC repair") %>
<h1>Need any help from below list of our services?</h1>
<ul>
	<li>Electric repair issues such as fuse, wiring, switches and connection related problems. We have well trained electricians to tackle that. We assure you best service in Indore.</li>
	<li>Leaking taps, basin problem, pipe issue or bathroom fittings giving you pain. Any pain caused due to plumbing faults are taken care of by our experts.</li>
	<li>Any home appliance you want to get repaired or serviced than we are here to help you. Our trained technicians handle several appliances which includes AC, TV, Fridge, electric motors and cooler are few from our appliance list.</li>
	<li>We have solution to your PC and laptop related needs too. Any issue related to software or hardware than let us know. </li>
</ul>

<p>
For help related to any of the above mentioned list of services please contact us at below given email ID.
</p>