<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
You need any help related to our service or anything than please see the below contact details. You can either contact us on call or through email.
</p>